<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.housecenter.dao.DlfcUserCompanyMapper" >
  <resultMap id="BaseResultMap" type="com.housecenter.entity.DlfcUserCompany" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="cid" property="cid" jdbcType="VARCHAR" />
    <result column="ucDeleteFlag" property="ucdeleteflag" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, cid, ucDeleteFlag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from dlfc_user_company
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from dlfc_user_company
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.housecenter.entity.DlfcUserCompany" >
    insert into dlfc_user_company (id, uid, cid, 
      ucDeleteFlag)
    values (#{id,jdbcType=VARCHAR}, #{uid,jdbcType=VARCHAR}, #{cid,jdbcType=VARCHAR}, 
      #{ucdeleteflag,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.housecenter.entity.DlfcUserCompany" >
    insert into dlfc_user_company
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="ucdeleteflag != null" >
        ucDeleteFlag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=VARCHAR},
      </if>
      <if test="ucdeleteflag != null" >
        #{ucdeleteflag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.housecenter.entity.DlfcUserCompany" >
    update dlfc_user_company
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        cid = #{cid,jdbcType=VARCHAR},
      </if>
      <if test="ucdeleteflag != null" >
        ucDeleteFlag = #{ucdeleteflag,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.housecenter.entity.DlfcUserCompany" >
    update dlfc_user_company
    set uid = #{uid,jdbcType=VARCHAR},
      cid = #{cid,jdbcType=VARCHAR},
      ucDeleteFlag = #{ucdeleteflag,jdbcType=BIT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>